[Desktop Entry]
Name=higgins
GenericName=Versatile application launcher
Comment=Launches application and do things through plugins
Exec=higgins
Icon=higgins
Type=Application
StartupNotify=true